:root{
    --dark: #3C4359;
    --accent: #E27C33;
    --gray-l: #F8F8FB;
    --gray: #F4F4F4;
    --gray-d: #A6A6A6;
    --gray-sd: #7B7878;
    --text: #333;
}
*{
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: var(--text);
    min-width: 340px;
    margin: 0;
    padding: 0;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
.flex-center{
    display: flex;
    align-items: center;
}
.top-line{
    background-color: var(--dark);
    color: #ffffff;
    height: 50px;
    font-size: 14px;
}
.top-line .container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
}
.top-line_main{
    height: 100%;
    align-items: stretch;
}
.select-city_icon{
    margin-left: 15px;
}
.select-city{
    padding-right: 35px;
    border-right: 1px solid #636973;
}
.pick-up-point{
    padding-left: 35px;
    padding-right: 35px;
    border-right: 1px solid #636973;
}
.pick-up-point_icon{
    margin-right: 15px;
}
.top-line-time{
    padding-left: 35px;
}
.top-line-time_text{
    color: var(--gray-d);
}
.top-line-time_text span{
    color: #fff;
}
.user-account_icon{
    margin-right: 15px;
}
.middle-line .container{
    align-items: stretch;
}
.middle-line .ml-logo{
    width: 15%;
    padding: 15px 0;
    border-right: 1px solid var(--gray);
}
.fast-search{
    width: 40%;
    padding: 15px 35px;
    border-right: 1px solid var(--gray);
}
.fast-search_input{
    position: relative;
}
.fast-search_input input{
    width: 100%;
    height: 50px;
    background-color: var(--gray-l);
    border: 1px solid var(--gray);
    padding: 0 15px;
}
.fast-search_icon{
    position: absolute;
    top: 20%;
    right: 15px;|
    transform: translateY(-50%);
}
.fast-search_example{
    font-size: 12px;
    color: var(--gray-sd);
}
.ml-callback{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-right: 1px solid var(--gray);
    padding-left: 35px;
}

.ml-callback_phone{
    font-weight: 600;
    font-size: 20px;
    color: var(--text);
    text-decoration: none;
    font-weight: 600;
}
.ml-callback_call{
    color: var(--accent);
    font-size: 14px;
    font-weight: 600;
}
.ml-action{
    width: 25%;
    justify-content: space-between;
    padding-left: 35px;
}
.ml-action_cart{
    display: flex;
    align-items: center;
    color: var(--text);
    text-decoration: none;
    position: relative;
}
.ml-action_cart_count{
    position: absolute;
    left: -5px;
    top: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F4F4F4;
}
.ml-action_cart_text{
    font-size: 14px;
    margin-left: 5px;
}
.main-menu{
    background-color: var(--gray);
    height: 50px;
}
.main-menu .container{
    display: flex;
    align-items: stretch;
    height: 100%;
}
.main-menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.main-menu a{
    color: var(--text);
    text-decoration: none;
}
.list-cat_main{
    background-color: var(--accent);
    height: 100%;
    padding-left: 25px;
    padding-right: 100px;
}
.list-cat_main_icon{
    margin-right: 15px;
}
.main-menu_list{
    display: flex;
    align-content: stretch;
    height: 100%;
}
.main-menu_item{
    border-right: 1px solid #e2f2e2;
    padding: 0 30px;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.list-cat{
    position: relative;
}
.list-cat_drop{
    position: absolute;
    width: 100%;
    z-index: 2;
}
.list-cat_list_link{
    padding: 10px 25px;
    display: block;
    border-bottom: 1px solid #e2f2e2;
    font-size: 14px;
    opacity: .8;
}
.header{
    position: relative;
}
.header-carousel_slide{
    height: 460px;
    background-size: cover;
}
.header-carousel_slide .container{
    padding-left: 350px;
    padding-top: 70px;
}
.header-carousel_title{
    font-size: 40px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 10px;
}
.swiper-slide.header-carousel_skude.swiper-slide-active{
    width: 100%;
    height: 460px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-carousel_desc .bold{
    font-weight: 600;
}
.header-carousel_desc{
    width: 35%;
}
.header-carousel-pagination-wrap{
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
    z-index: 2;
}
.header-carousel-pagination{
    padding-left: 350px;
}
.swiper-pagination-bullet-active{
    background-color: var(--accent);
}
.categories{
    margin: 80px 0;
}
.categories_title{
    font-size: 28px;
    margin-bottom: 10px;
}
.categories_desc{
    color: var(--gray-d);
justify-content: center;
flex-direction: column;
}
.categories_items{
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(4, 1fr);
}
.categories_item{
    border: 2px solid var(--gray);
    height: 200px ;
    display: flex ;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
    border-right:none;
    color: var(--text);
    text-decoration: none;
    
}
.categories_item:nth-child(4n){
    border-right: 2px solid var(--gray);
}
.categories_item:last-child{
    border-right: 2px solid var(--gray);
}
.categories_item_icon{
    margin-bottom: 15px;
}
.categories_item_title{
    margin: 0 0 15px 0;
}
.adv{
    background-color: var(--gray-l);
}
.adv .container{
    display: flex;
    align-items: stretch;
    height: 100%;
}
.adv_item{
    border-right: 2px solid var(--gray);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-size: 14px;
}
.adv_item_icon{
    margin-right: 20px;
}

.sale{
    padding: 80px 0;
}
.sale_title{
    font-size: 28px;
    font-weight: 600;
}
.mini-product{
    border: 2px solid var(--gray);
    position: relative;
    padding-bottom: 15px;
}
.mini-product_buy{
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--accent);
    cursor: pointer;
}
.mini-product_top{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}
.mini-product_compare{
    margin-right: 10px;
}
.mini-product_action{
    display: flex;
    align-items: center;
}
.mini-product_stock{
    font-size: 12px;
    font-weight: 600;;
}
.mini-product_img{
    margin: 30px 0;
    text-align: center;
    display: block;
}
.mini-product_img img{
    display: inline-block;
}

.mini-product_title{
    padding: 0 15px;
    display: block;
    color: var(--text);
    text-decoration: none;
}
.mini-product_rating{
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-top: 10px;
}
.mini-product_rating_text{
    font-size: 14px;
    font-weight: 600;
}
.mini-product_price_old{
    display: block;
    text-decoration: line-through;
    font-size: 14px;
    color: var(--gray-d);
}
.mini-product_price{
    display: flex;
    padding: 0 15px;
    margin-top: 20px;
}
.mini-product_price_current{
    display: block;
    font-size: 18px;
    font-weight: 600;
}
.mini-product_price_sale{
margin-left: 15px;
}
.mini-product_price_sale-count{
background-color: #df6e6e;
color: #fff;
padding: 2px 4px;
font-size: 14px;
}
.sale-carousel-nav{
    display: flex;
    justify-content: flex-end;
}
.sale-carousel-pagination{
    justify-content: flex-end;
}
.sale-carousel-arrows{
    display: flex;
    align-items: center;
}

.info{
    margin-bottom: 80px;
}
.info_link{
    color: var(--accent);
    text-decoration: none;
}
.footer{
    background-color: var(--gray-l);
    padding: 60px 0;
}
.footer .container{
    display: flex;
}
.footer-main{
width: 20%;
margin-right: 5%;
}
.footer-main_info{
    font-size: 14px;
    color: var(--gray-sd);
}
.footer-main_copy{
    font-size: 14px;
    color: var(--gray-sd);
}
.footer_category{
    width: 25%;
}
.footer-category_list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer-category_item{
    margin-bottom: 15px;
}
.footer-category_link{
    color: var(--gray-sd);
    text-decoration: none;
    font-style: 14px;
}
.footer-category_title{
    font-weight: 600;
    margin-bottom: 30px;
    display: block;
}
.footer_menu{
    width: 25%;
}
.footer-menu_list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer-menu_item{
    margin-bottom: 15px;
}
.footer-menu_link{
    color: var(--gray-sd);
    text-decoration: none;
    font-style: 14px;
}
.footer-menu_title{
    font-weight: 600;
    margin-bottom: 30px;
    display: block;
}
.footer_contact{
    width: 25%;
}
.footer-contact_title{
    font-weight: 600;
    margin-bottom: 30px;
    display: block;
}
.footer-contact_item{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.footer-contact_item a{
    color: var(--text);
    text-decoration: none;
}
.footer-contact_item_text{
margin-left: 10px;
}

.page-category{
    margin-top: 50px;
    margin-bottom: 80px;
}
.page-category .container{
    display: flex;
    align-items: flex-start;
}
.pc-filter{
    width: 22%;
    background-color: var(--gray-l);
    border: 2px solid var(--gray);
    border-right: none;
}
.page-category_sort{
    background-color: var(--gray-l);
    border: 2px solid var(--gray);
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}
.pc-select{
    font-size: 14px;
}
.pc-select_title{
    font-weight: 600;
}
.page-category_content{
    width: 78%;
}
.page-category_products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.pc-filter_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    border-bottom: 1px solid var(--gray);
    font-size: 14px;
    color: var(--gray-sd);
}
.pc-filter-price{
    padding: 20px 30px;
}
.pc-filter-price_inputs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.pc-filter-price_input{
    width: 110px;
    height: 40px;
    border: 1px solid var(--gray);
    padding: 0 10px;
}

.ui-slider-horizontal{
    height: 6px;
    background: #EEEEEF;
}
.ui-widget.ui-widget-content{
    border: none;
}
.ui-slider-horizontal .ui-slider-handle{
    top: -8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--accent);
    background-color: var(--gray-l);
}
.ui-widget-header{
    background: var(--accent);
}
.pc-filter-item_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    border-bottom: 1px solid var(--gray);
}
.pc-filter-item_title{
    font-weight: 600;
}
.pc-filter-item_cont{
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}
.pc-filter-checkbox{
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: var(--gray-sd);
}
.pc-filter-checkbox_checkbox{
    display: none;
}
.pc-filter-checkbox_checkbox:checked ~ .pc-filter-checkbox_box{
background-color: var(--accent);
}
.pc-filter-checkbox_box{
    width: 15px;
    height: 15px;
    border: 1px solid var(--gray-d);
    margin-right: 10px;
}

.page-product{

}
.page-product-gallery{
    border: 2px solid var(--gray);
}
.page-product-wrap .container{
    display: flex;
}
.page-product-gallery{
    width: 50%;
    position: relative;
}
.page-product-main{
    width: 50%;
    border: 2px solid var(--gray);
    border-left: none;
}
.page-product-gallery_thumbs{
    position: absolute;
    top: 20px;
    left: 20px;
}
.page-product-gallery_thumbs_item{
    width: 70px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--gray);
    margin-bottom: 10px;
    overflow: hidden;
    cursor: pointer;
}

.page-product-gallery_thumbs_item.active{
    border: 1px solid var(--accent);
}

.page-product-gallery_thumbs_item img{
    max-width: 100%;
    height: auto;
}
.page-product-gallery_main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 120px;
}
.page-product-main-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gray);
    padding: 15px 20px;
}
.page-product-main-top_reviews{
    display: flex;
    align-items: center;
}
.page-product-main-top_rating{
    display: flex;
    align-items: center;
}
.page-product-main-top_actions{
    display: flex;
    align-items: center;
}
.page-product-main-top_link{
    margin-left: 20px;
}
.page-product-main-options{
    padding: 20px;
    border-bottom: 1px solid var(--gray);
}
.page-product-main-options_title{
font-weight: 600;
margin-bottom: 10px;
display: block;
}
.page-product-main-options_items{
    display: flex;
    align-items: center;
}
.page-product-main-options_item{
    margin-right: 5px;
    width: 50px;
    height: 50px;
    overflow:hidden;
}
.page-product-main-options_item.active{
    border: 2px solid var(--accent);
}
.page-product-main-dop {
    padding: 20px;
    border-bottom: 1px solid var(--gray);
}
.page-product-main-dop_title{
    font-weight: 600;
}
.page-product-main-action{
    background-color: var(--gray-l);
    padding: 20px;
    border-bottom: 1px solid var(--gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-product-main-action_wrap{
    display: flex;
    align-items: center;
}
.page-product-main-action_price_old{
    display: block;
    text-decoration: line-through;
    font-size: 16px;
    color: var(--gray-d);
}
.page-product-main-action_price{
    display: flex;
    align-items: flex-end;
}
.page-product-main-action_price_current{
    display: block;
    font-size: 22px;
    font-weight: 600;
}
.page-product-main-action_price_sale{
margin-left: 15px;
}
.page-product-main-action_price_sale-count{
background-color: #df6e6e;
color: #fff;
padding: 2px 4px;
font-size: 14px;
}
.page-product-main-action_count{
    position: relative;
    margin-right: 15px;
}
.page-product-main-action_count input{
    width: 80px;
    height: 30px;
    border: 1px solid var(--gray);
    text-align: center;
}
.page-product-main-action_count_plus{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--gray-d);
    cursor: pointer;
}
.page-product-main-action_count_minus{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--gray-d);
    cursor: pointer;
}
.page-product-main-action_buy{
    display: flex;
    align-items: center;
    background-color: var(--accent);
    color: #fff;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 14px;
    font-weight: 600;
    height: 45px;
    cursor: pointer;
}
.page-product-main-action_buy_icon{
    margin-right: 10px;
}
.page-product-main-action_fast-buy{
    border: 2px solid var(--accent);
    color: var(--accent);
    font-weight: 600;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    height: 45px;
    text-decoration: none;
    margin-left: 10px;
}
.page-product-main-bottom{
    padding: 20px;
}
.page-product-main-bottom_title{
    font-weight: 600;
}
.page-product-main-bottom_items{
display: flex;
align-items: center;
font-size: 14px;
}
.page-product-main-bottom_items a{
    color: var(--accent);
}
.page-product-main-bottom_item{
    margin-left: 40px;
}
.page-product-main-bottom_item:first-child{
    margin-left: 0;
}

.page-product-info{
    margin-top: 60px;
    margin-bottom: 80px;
}
.page-product-info_tabs{
    border: 2px solid var(--gray);
    display: inline-flex;
    align-items: center;
    height: 50px;
}
.page-product-info_tabs_item{
    color: var(--gray-d);
    text-decoration: none;
    padding: 0 50px;
    font-size: 14px;
}
.page-product-info_tabs_item.active{
font-weight: 600;
color: var(--text);
}
.page-product .ms-tags{
    margin-bottom: 60px;
}

/* Page Cart */
.page-cart{
    margin-bottom: 80px;
}
.page-cart .container{
    display: flex;
    align-items: flex-start;
}
.page-cart-main{
    border: 2px solid var(--gray);
    width: 70%;
}
.pcart-main-order{
    width: 30%;
    background-color: var(--gray-l);
    border: 2px solid var(--gray);
    border-left: none;
    padding: 35px 30px;
}
.page-cart-product-list{
    border-bottom: 1px solid var(--gray);
    padding: 35px 30px;
}
.page-cart-product-list-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.page-cart-product-list-item:last-child{
    margin-bottom: 0;
}
.page-cart-product-list-item_info-wrap{
    display: flex;
    align-items: center;
}
.page-cart-product-list-item_img{
    width: 120px;
    height: 70px;
    border: 2px solid var(--gray);
    overflow: hidden;
    margin-right: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-cart-product-list-item_img img{
    max-width: 100%;
    height: auto;
}
.page-cart-product-list-item_title{
    color: var(--text);
    text-decoration: none;
}
.page-cart-product-list-item_options{
    margin-top: 10px;
    display: flex;
    align-items: center;
    color: var(--gray-d);
    font-size: 14px;
}
.page-cart-product-list-item_options span{
    margin-left: 30px;
    position: relative;
}
.page-cart-product-list-item_options span:before{
    content: '|';
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
}
.page-cart-product-list-item_options span:first-child{
    margin-left: 0;
}
.page-cart-product-list-item_options span:first-child::before{
    display: none;
}

.page-cart-product-list-item_count{
    position: relative;
    margin-right: 15px;
}
.page-cart-product-list-item_count input{
    width: 80px;
    height: 30px;
    border: 1px solid var(--gray);
    text-align: center;
}
.page-cart-product-list-item_count_plus{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--gray-d);
    cursor: pointer;
}
.page-cart-product-list-item_count_minus{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--gray-d);
    cursor: pointer;
}
.page-cart-product-list-item_price{
    font-size: 18px;
    font-weight: 600;
}
.page-cart-product-list-item_remove{
    background-color: var(--gray);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.pcart-main-contact{
    padding: 35px 30px;
    border-bottom: 1px solid var(--gray);
}
.pcart-main-contact_title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 35px;
    display: block;
}
.pcart-main-contact_input-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
}

.pcart-main-contact input{
    height: 50px;
    padding: 0 15px;
    border: 1px solid var(--gray);
    width: 49%;
}
.pcart-main-delivery{
    padding: 35px 30px;
    border-bottom: 1px solid var(--gray);
}
.pcart-main-delivery_title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 35px;
    display: block;
}
.pcart-main-delivery_items{
    display: flex;
    align-items: center;
}
.pcart-main-delivery_item{
    border: 1px solid var(--gray);
    padding: 20px;
    display: flex;
    align-items: center;
    width: 40%;
    height: 90px;
    margin-right: 15px;
    cursor: pointer;
}
.pcart-main-delivery_item input{
    display: none;
}
.pcart-main-delivery_item input:checked ~ .pcart-main-delivery_item_box{
    border: 4px solid var(--accent);
}
.pcart-main-delivery_item_box{
    width: 30px;
    height: 30px;
    background-color: var(--gray);
    border-radius: 50%;
    display: block;
    min-width: 30px;
    margin-right: 20px;
}
.pcart-main-delivery_item_title{
    font-weight: 600;
    display: block;
}
.pcart-main-delivery_item_desc{
    font-size: 14px;
}
.pcart-main-comment{
    padding: 35px 30px;
}
.pcart-main-comment_title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 35px;
    display: block;
}
.pcart-main-comment_textarea{
    width: 100%;
    border: 1px solid var(--gray);
    padding: 15px;
    height: 200px;
}
.pcart-main-order-promo{
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}
.pcart-main-order-promo_input{
    height: 60px;
    padding: 0 15px;
    border: 1px solid #EEEEEE;
    width: 170px;
}
.pcart-main-order-promo_btn{
    width: 100%;
    height: 60px;
    background-color: #EEEEEE;
    border: none;
    outline: none;
}
.pcart-main-order_title{
    text-align: center;
    font-weight: 600;
    display: block;
    font-size: 20px;
    margin-bottom: 30px;
}
.pcart-main-order_info{
    background-color: #fff;
    padding: 40px 30px;
}
.pcart-main-order_info-item{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    color: var(--gray-d);
}
.pcart-main-order_info-item_val.result{
color: var(--text);
font-size: 18px;
font-weight: 600;
}
.pcart-main-order_info-item_sep{
    color: #d6d6d6;
    margin: 0 5px;
}
.pcart-main-order_buy-wrap{
    display: block;
    text-align: center;
}
.pcart-main-order_buy{
    background-color: var(--accent);
    margin-top: 50px;
    padding: 20px 65px;
    color: #fff;
    border: none;
    outline: none;
}




.ms-tags_item{
    background-color: var(--gray);
    color: var(--gray-sd);
    text-decoration: none;
    padding: 8px 15px;
    font-size: 14px;
    margin-right: 10px;
}
.breadcrumbs{
margin-top: 20px;
}
.breadcrumbs_list{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.breadcrumbs_item{
    padding-left: 40px;
    font-size: 14px;
    position: relative;
}
.breadcrumbs_item::before{
    content: '/';
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.breadcrumbs_item:first-child{
    padding-left: 0;
}
.breadcrumbs_item:first-child::before{
    display: none;
}
.breadcrumbs_item a{
    color: var(--text);
}
.breadcrumbs_item span{
    color: var(--gray-d);
}
.page-title{
    font-size: 32px;
    font-weight: 600;
}

.btn-border{
    font-size: 14px;
    color: var(--accent);
    border: 2px solid var(--accent);
    padding: 15px 30px;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    margin-top: 20px;
}
